[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic-settings = "*"
structlog = "*"
celery = "*"
celery-types = "*"
anthropic = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
